@import './tiptap.css';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root .ql-container {
  /* border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em; */
  background: #f8f9fb;
}

/* Snow Theme */
#root .ql-snow.ql-toolbar {
  display: block;
  background: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
  /* border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em; */
}

ql-toolbar.ql-snow {
  border: 1px solid #dfe1e6;
  border-radius: 12px;
}

#root .ql-container.ql-snow {
  border: 0px solid #dfe1e6;
}

#root .ql-editor {
  min-height: 40em;
}
